/*!======= variables =========*/
/*! Typebase.less v0.1.0 | MIT License */
/*!======= variables =========*/
/* Setup */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,500,500i,700,700i|Playfair+Display:900,900i");
html {
  /* Change default typefaces here */
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  line-height: 175%;
  -webkit-font-smoothing: antialiased; }

/* Copy & Lists */
p {
  line-height: 175%;
  margin-top: 0.875rem;
  margin-bottom: 0; }

ul, ol {
  margin-top: 0.875rem;
  margin-bottom: 0.875rem; }
  ul li, ol li {
    line-height: 175%; }
  ul ul, ul ol, ol ul, ol ol {
    margin-top: 0;
    margin-bottom: 0; }

blockquote {
  line-height: 175%;
  margin-top: 0.875rem;
  margin-bottom: 0.875rem; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  /* Change heading typefaces here */
  font-family: "Montserrat", sans-serif;
  margin-top: 1.75rem;
  margin-bottom: 0;
  line-height: 125%; }

h1, main .h1 {
  font-size: 2.5rem; }

h2, main .h2 {
  font-size: 1.875rem; }

h3, main .h3 {
  font-size: 1.5625rem; }

h4, main .h4 {
  font-size: 1.25rem; }

h5, main .h5 {
  font-size: 0.9375rem; }

h6, main .h6 {
  font-size: 0.625rem; }

h1 + h1, .h1 + .h1, h1 + .h1, .h1 + h1,
h1 + h2, .h1 + .h2, h1 + .h2, .h1 + h2 {
  line-height: 100%;
  margin-top: 0; }

h2 + h2, .h2 + .h2, h2 + .h2, .h2 + h2,
h2 + h3, .h2 + .h3, h2 + .h3, .h2 + h3 {
  line-height: 112.6%;
  margin-top: 0; }

h3 + h3, .h3 + .h3, h3 + .h3, .h3 + h3,
h3 + h4, .h3 + .h4, h3 + .h4, .h3 + h4 {
  line-height: 125.2%;
  margin-top: 0; }

h4 + h4, .h4 + .h4, h4 + .h4, .h4 + h4,
h4 + h5, .h4 + .h5, h4 + .h5, .h4 + h5 {
  line-height: 137.8%;
  margin-top: 0; }

.heading-group *:first-child {
  line-height: 100%; }

.heading-group .title {
  padding-bottom: 0.25rem; }

/* Tables */
table {
  margin-top: 0.875rem;
  border-spacing: 0px;
  border-collapse: collapse; }
  table td, table th {
    padding: 0;
    line-height: 175%; }

/* Code blocks */
code {
  vertical-align: bottom; }

/*!======= base styles =========*/
* {
  box-sizing: border-box; }

html,
body {
  color: #686a8a; }

hr {
  margin: 100px 0;
  border: 0.04rem inset;
  color: rgba(0, 0, 0, 0.2); }

figcaption,
.caption {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 1.5rem 0rem; }

.title,
.subtitle {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

[class*="title"] + p {
  margin-top: 0; }

[class*="display"] {
  font-family: "Playfair Display", serif;
  text-transform: none;
  font-weight: 900; }

h1:not(.title):not([class*="display"]),
h2:not(.title):not([class*="display"]),
h3:not(.title):not([class*="display"]),
h4:not(.title):not([class*="display"]),
h5:not(.title):not([class*="display"]),
h6:not(.title):not([class*="display"]),
.h1:not(.title):not([class*="display"]),
.h2:not(.title):not([class*="display"]),
.h3:not(.title):not([class*="display"]),
.h4:not(.title):not([class*="display"]),
.h5:not(.title):not([class*="display"]),
.h6:not(.title):not([class*="display"]) {
  font-weight: 700; }

/*!================== header ======================== */
/*!================== main content area ======================== */
main p a,
main li a {
  color: #630cff;
  font-weight: 600;
  position: relative;
  border-bottom: dotted 5px transparent; }
  main p a:hover,
  main li a:hover {
    color: #630cff;
    border-bottom: dotted 5px #630cff; }

/*!======= variables =========*/
/*!================== minireset  ===================== */
a {
  text-decoration: none; }

html {
  overflow-x: hidden; }

figure {
  margin: 0;
  padding: 0; }

/*!================== color grid system & utilities ===================== */
/*!================== text utilities ===================== */
.error {
  color: red;
  font-style: italic; }

em,
.italic {
  font-style: italic !important; }

strong,
.bold {
  font-weight: 700 !important; }

span.small, p.small, li.small, caption.small {
  font-size: .8rem;
  line-height: 1rem; }

.center-text {
  text-align: center; }

/*!================== sfx ======================== */
.drop-shadow {
  box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.2); }

.round {
  border-radius: 100%; }

.thick-border {
  border: 5px solid rgba(0, 0, 0, 0.1); }

.thin-border {
  border: 1px solid rgba(0, 0, 0, 0.1); }

.black-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.85) 100%); }

.white-overlay {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0.85) 100%); }

.material {
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2), 0 0 1px 1px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2), 0 0 1px 1px rgba(0, 0, 0, 0.06);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2), 0 0 1px 1px rgba(0, 0, 0, 0.06); }

/*!================== display ======================== */
.videoWrapper,
.youtube {
  padding-bottom: 56.25%;
  padding-top: 25px; }

.youtube,
.videoWrapper {
  position: relative;
  height: 0; }

.videoWrapper iframe,
.youtube iframe,
.youtube video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.display-inline-block {
  display: inline-block !important; }

.display-block {
  display: block !important; }

.mobile {
  display: none; }

.desktop, .no-tablet {
  display: initial; }

.img, img {
  max-width: 100%;
  height: auto; }

@media screen and (max-width: 768px) {
  .mobile {
    display: inherit; }

  .desktop, .no-mobile {
    display: none; } }
@media screen and (max-width: 992px) {
  .no-tablet {
    display: none; } }
/*!================== spacing ======================== */
.no-pad, .nopad {
  padding: 0 !important; }

.pad1 {
  padding: 1rem !important; }

.pad2 {
  padding: 2rem !important; }

.pad3 {
  padding: 3rem !important; }

.pad4 {
  padding: 4rem !important; }

.top-margin {
  margin-top: 1rem !important; }

.left-margin {
  margin-left: 1rem !important; }

.bottom-margin {
  margin-bottom: 1rem !important; }

.right-margin {
  margin-right: 1rem !important; }

.top-margin2 {
  margin-top: 2rem !important; }

.left-margin2 {
  margin-left: 2rem !important; }

.bottom-margin2 {
  margin-bottom: 2rem !important; }

.right-margin2 {
  margin-right: 2rem !important; }

.top-margin3 {
  margin-top: 3rem !important; }

.left-margin43 {
  margin-left: 3rem !important; }

.bottom-margin3 {
  margin-bottom: 3rem !important; }

.right-margin3 {
  margin-right: 3rem !important; }

.top-margin4 {
  margin-top: 4rem !important; }

.left-margin4 {
  margin-left: 4rem !important; }

.bottom-margin4 {
  margin-bottom: 4rem !important; }

.right-margin4 {
  margin-right: 4rem !important; }

.margin1 {
  margin: 1rem !important; }

.margin2 {
  margin: 2rem !important; }

.no-margin, .nomargin {
  margin: 0 !important; }

.no-vmargin {
  margin-top: 0;
  margin-bottom: 0; }

.no-vpad {
  padding-top: 0;
  padding-bottom: 0; }

/*!================== floats ======================== */
.clearfix::after,
.clearfix::after {
  clear: both;
  content: '';
  display: table;
  float: none;
  width: 0;
  height: 0; }

.clear {
  clear: both; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.center-item {
  margin-left: auto;
  margin-right: auto; }

/*!================== grid system & utilities ======================== */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 1em; }

@media screen and (min-width: 769px) {
  .container {
    width: 720px; } }
@media screen and (min-width: 996px) {
  .container {
    width: 920px; } }
@media screen and (min-width: 1200px) {
  .container {
    width: 1152px; } }
@media screen and (min-width: 1600px) {
  .container {
    width: 1200px; } }
.row, .flex-row {
  /*max-width: 100%;*/
  box-sizing: border-box; }

.row:before, .row:after {
  display: table;
  content: " ";
  clear: both;
  width: 0;
  height: 0; }

.flex-row {
  display: flex;
  flex-direction: column;
  /*this switchs to row about 768px*/ }

.flex-wrap {
  flex-wrap: wrap; }

.flex-reverse {
  flex-direction: row-reverse; }

.flex-col {
  display: flex;
  flex-direction: column; }

.flex-col.flex-reverse {
  flex-direction: column-reverse; }

.flex-across {
  display: flex;
  justify-content: space-between; }

.flex-vcenter, .vcenter {
  display: flex;
  align-items: center; }

[class*='col'].row {
  padding: 0; }

.col1x, .col2x, .col3x, .col4x, .col5x, .col6x, .col7x, .col8x, .col9x, .col10x, .col11x, .col12x, .col1s, .col2s, .col3s, .col4s, .col5s, .col6s, .col7s, .col8s, .col9s, .col10s, .col11s, .col12s, .col1m, .col2m, .col3m, .col4m, .col5m, .col6m, .col7m, .col8m, .col9m, .col10m, .col11m, .col12m, .col1l, .col2l, .col3l, .col4l, .col5l, .col6l, .col7l, .col8l, .col9l, .col10l, .col11l, .col12l,
.col1xl, .col2xl, .col3xl, .col4xl, .col5xl, .col6xl, .col7xl, .col8xl, .col9xl, .col10xl, .col11xl, .col12xl {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box; }

.flex-row > [class^='col'] {
  float: none !important; }

.col0x {
  width: 0;
  padding: 0; }

.col1x {
  width: 8.33333333%; }

.col2x {
  width: 16.66666667%; }

.col3x {
  width: 25%; }

.col4x {
  width: 33.33333333%; }

.col5x {
  width: 41.66666667%; }

.col6x {
  width: 50%; }

.col7x {
  width: 58.33333333%; }

.col8x {
  width: 66.66666667%; }

.col9x {
  width: 75%; }

.col10x {
  width: 83.33333333%; }

.col11x {
  width: 91.66666667%; }

.col12x {
  width: 100%; }

.col-x-offset-1 {
  margin-left: 8.33333333%; }

.col-x-offset-2 {
  margin-left: 16.66666667%; }

.col-x-offset-3 {
  margin-left: 25%; }

.col-x-offset-4 {
  margin-left: 33.33333333%; }

.col-x-offset-5 {
  margin-left: 41.66666667%; }

.col-x-offset-6 {
  margin-left: 50%; }

.col-x-offset-7 {
  margin-left: 58.33333333%; }

.col-x-offset-8 {
  margin-left: 66.66666667%; }

.col-x-offset-9 {
  margin-left: 75%; }

.col-x-offset-10 {
  margin-left: 83.33333333%; }

.col-x-offset-11 {
  margin-left: 91.66666667%; }

.col-x-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .flex-row {
    display: flex;
    flex-direction: row; }

  .row.outdent, .flex-row.outdent, .outdent {
    margin: -2rem;
    max-width: calc( 100% + 4rem) !important; }

  .row.side-outdent, .flex-row.side-outdent, .side-outdent {
    margin: auto -2rem;
    max-width: calc( 100% + 4rem) !important; }

  /*add padding to all columns above 768px,
  prevents cols from breaking on screens <768px*/
  .col1x, .col2x, .col3x, .col4x, .col5x, .col6x, .col7x, .col8x, .col9x, .col10x, .col11x, .col12x, .col1s, .col2s, .col3s, .col4s, .col5s, .col6s, .col7s, .col8s, .col9s, .col10s, .col11s, .col12s, .col1m, .col2m, .col3m, .col4m, .col5m, .col6m, .col7m, .col8m, .col9m, .col10m, .col11m, .col12m, .col1l, .col2l, .col3l, .col4l, .col5l, .col6l, .col7l, .col8l, .col9l, .col10l, .col11l, .col12l {
    padding: 2rem; }

  .flat-row > [class^='col'] {
    padding: 0 2rem; }

  .flat-col {
    padding: 2rem 0; }

  .row.slim [class*="col"] {
    padding: .5rem; }

  .col0s {
    width: 0;
    padding: 0; }

  .col1s {
    width: 8.33333333%; }

  .col2s {
    width: 16.66666667%; }

  .col3s {
    width: 25%; }

  .col4s {
    width: 33.33333333%; }

  .col5s {
    width: 41.66666667%; }

  .col6s {
    width: 50%; }

  .col7s {
    width: 58.33333333%; }

  .col8s {
    width: 66.66666667%; }

  .col9s {
    width: 75%; }

  .col10s {
    width: 83.33333333%; }

  .col11s {
    width: 91.66666667%; }

  .col12s {
    width: 100%; }

  .col-s-offset-1 {
    margin-left: 8.33333333%; }

  .col-s-offset-2 {
    margin-left: 16.66666667%; }

  .col-s-offset-3 {
    margin-left: 25%; }

  .col-s-offset-4 {
    margin-left: 33.33333333%; }

  .col-s-offset-5 {
    margin-left: 41.66666667%; }

  .col-s-offset-6 {
    margin-left: 50%; }

  .col-s-offset-7 {
    margin-left: 58.33333333%; }

  .col-s-offset-8 {
    margin-left: 66.66666667%; }

  .col-s-offset-9 {
    margin-left: 75%; }

  .col-s-offset-10 {
    margin-left: 83.33333333%; }

  .col-s-offset-11 {
    margin-left: 91.66666667%; }

  .col-s-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col0m {
    width: 0;
    padding: 0; }

  .col1m {
    width: 8.33333333%; }

  .col2m {
    width: 16.66666667%; }

  .col3m {
    width: 25%; }

  .col4m {
    width: 33.33333333%; }

  .col5m {
    width: 41.66666667%; }

  .col6m {
    width: 50%; }

  .col7m {
    width: 58.33333333%; }

  .col8m {
    width: 66.66666667%; }

  .col9m {
    width: 75%; }

  .col10m {
    width: 83.33333333%; }

  .col11m {
    width: 91.66666667%; }

  .col12m {
    width: 100%; }

  .col-m-offset-1 {
    margin-left: 8.33333333%; }

  .col-m-offset-2 {
    margin-left: 16.66666667%; }

  .col-m-offset-3 {
    margin-left: 25%; }

  .col-m-offset-4 {
    margin-left: 33.33333333%; }

  .col-m-offset-5 {
    margin-left: 41.66666667%; }

  .col-m-offset-6 {
    margin-left: 50%; }

  .col-m-offset-7 {
    margin-left: 58.33333333%; }

  .col-m-offset-8 {
    margin-left: 66.66666667%; }

  .col-m-offset-9 {
    margin-left: 75%; }

  .col-m-offset-10 {
    margin-left: 83.33333333%; }

  .col-m-offset-11 {
    margin-left: 91.66666667%; }

  .col-m-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col0l {
    width: 0;
    padding: 0; }

  .col1l {
    width: 8.33333333%; }

  .col2l {
    width: 16.66666667%; }

  .col3l {
    width: 25%; }

  .col4l {
    width: 33.33333333%; }

  .col5l {
    width: 41.66666667%; }

  .col6l {
    width: 50%; }

  .col7l {
    width: 58.33333333%; }

  .col8l {
    width: 66.66666667%; }

  .col9l {
    width: 75%; }

  .col10l {
    width: 83.33333333%; }

  .col11l {
    width: 91.66666667%; }

  .col12l {
    width: 100%; }

  .col-l-offset-1 {
    margin-left: 8.33333333%; }

  .col-l-offset-2 {
    margin-left: 16.66666667%; }

  .col-l-offset-3 {
    margin-left: 25%; }

  .col-l-offset-4 {
    margin-left: 33.33333333%; }

  .col-l-offset-5 {
    margin-left: 41.66666667%; }

  .col-l-offset-6 {
    margin-left: 50%; }

  .col-l-offset-7 {
    margin-left: 58.33333333%; }

  .col-l-offset-8 {
    margin-left: 66.66666667%; }

  .col-l-offset-9 {
    margin-left: 75%; }

  .col-l-offset-10 {
    margin-left: 83.33333333%; }

  .col-l-offset-11 {
    margin-left: 91.66666667%; }

  .col-l-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1400px) {
  .col0xl {
    width: 0;
    padding: 0; }

  .col1xl {
    width: 8.33333333%; }

  .col2xl {
    width: 16.66666667%; }

  .col3xl {
    width: 25%; }

  .col4xl {
    width: 33.33333333%; }

  .col5xl {
    width: 41.66666667%; }

  .col6xl {
    width: 50%; }

  .col7xl {
    width: 58.33333333%; }

  .col8xl {
    width: 66.66666667%; }

  .col9xl {
    width: 75%; }

  .col10xl {
    width: 83.33333333%; }

  .col11xl {
    width: 91.66666667%; }

  .col12xl {
    width: 100%; } }
.stick-to-bottom {
  position: absolute;
  bottom: 1rem; }

.edge-to-edge {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  width: 100vw; }

/*# sourceMappingURL=custom.css.map */
