@import "den-vars";
@import "typebase";
 @import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,500,500i,700,700i|Playfair+Display:900,900i');

/*!======= base styles =========*/
* {
  box-sizing: border-box;
}
html,
body {
  color:$textdark;
}

hr {
  margin: 100px 0;
  border: 0.04rem inset;
  color: rgba(0, 0, 0, 0.2);
}
figcaption,
.caption {
  font-family: $bodyFont;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 1.5rem 0rem;
}
.title,
.subtitle {
  font-family: $titleFont;
  text-transform: uppercase;
}
[class*="title"] + p {
  margin-top: 0;
}
[class*="display"] {
  font-family: $displayFont;
  text-transform: none;
  font-weight: $font-weight-black;
}
h1:not(.title):not([class*="display"]),
h2:not(.title):not([class*="display"]),
h3:not(.title):not([class*="display"]),
h4:not(.title):not([class*="display"]),
h5:not(.title):not([class*="display"]),
h6:not(.title):not([class*="display"]),
.h1:not(.title):not([class*="display"]),
.h2:not(.title):not([class*="display"]),
.h3:not(.title):not([class*="display"]),
.h4:not(.title):not([class*="display"]),
.h5:not(.title):not([class*="display"]),
.h6:not(.title):not([class*="display"]) {
  font-weight: $font-weight-bold;
}

/*!================== header ======================== */


/*!================== main content area ======================== */
main {
  p,
  li {
    a {
      color:$primary;
      font-weight: 600;
      position: relative;
      border-bottom: dotted 5px transparent;

      &:hover {
        color:$primary;
        border-bottom: dotted 5px $primary;
      }
    }
  }
}//end main



@import "den-utility";
