@import 'den-vars';
//show subject relevant content
body.uiux .dev,
body.uiux .gd,
body.gd.dev,
body.gd .uiux,
body.dev .gd,
body.dev .uiux{
	display: none;
}
body.dev .dev,
body.uiux .uiux,
body.gd .gd{
	display: inline-block;
    display: revert;
}


#main-header{
	background: #97e8e4;
	overflow: hidden;
	box-shadow: $materialShadow;
}

main{
	margin-top: 100px;
	padding-top: 2rem;
}
#project-intro{padding-bottom: 4rem}
#project-intro img {
    margin: 0 auto;
    text-align: center;
    border: 4px solid #f1f1f1;
    object-fit: contain;
}
#project-intro img.vertical {
    max-height: calc( 100vh - 100px - 4rem);
	object-fit: contain;
}
.project-title {
    margin: 0;
	font-family: $displayFont;
    line-height: 1.1;

}
.h4.project-date {
    font-size: 1.33rem;
	color: color('purple');
	line-height: 1.5rem;
	margin-top: 1rem;
}
main > section{
	padding: 0 0 6rem;
}

.accent-bar{
	background: color('ice-blue');
	padding: 4rem 0;
	border-top:dotted 5px color('lavender');
	border-bottom:dotted 5px color('lavender');

}

.project-gallery figure a {
  display: block;
  line-height: 0;
}
.project-gallery figure,
.project-gallery p{padding: 1rem;}
.project-gallery img{box-shadow: $materialShadow}
.project-gallery div {
    display: flex;
}
.project-gallery.outdent {
    margin: -1rem;
    max-width: calc(100% + 2rem) !important;
}
.project-gallery.side-outdent {
    margin: auto -1rem;
    max-width: calc(100% + 2rem) !important;
}
.caption-quote {
    color: #691cdf;
    font-weight: bold;
    font-family: Montserrat;
    font-style: italic;
    font-size: 1.6rem;
    letter-spacing: .023rem;

	span{
		background: #fff;
		display: inline;
	}
}

.content-card {
    padding: 2rem;
    background-color: #d7d2e8;
}
@media screen and (max-width:768px){
	#main-header{
		background: none;
		overflow: visible;
		box-shadow: none;

		.mobile-btn-wrap {
		    top: .5rem;
		}
		#logo-link {
		    background: none;
		    box-shadow: none;

			&:hover{
				&::before{
					background: color('yellow')
				}

				[class*="display"]{
					color: color('purple');
				}
				.subtitle{
					color: color('pink');
				}
			}
		}

		#main-menu {
		    z-index: -2;
		}
	}

}
