{{ define "main" }}
<main class="bg-light">
    <section class="meta-section">
        <div class="wrapper">
            {{ if or .Title .Content }}
            {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
            {{ with .Content }}<div>{{ . }}</div>{{ end }}
            {{ end }}

            {{ $pages :=  where (where .Site.Pages "Section" "work") ".Title" "not in" (slice "Work" "Works") }}
            {{ $sorted := $pages.ByWeight.Reverse }}
            {{ $paginator := .Paginate $sorted }}

            {{ range $paginator.Pages }}
            {{ .Render "summary" }}
            {{ end }}
            {{ partial "pagination.html" . }}
        </div>

    </section>
</main>
{{ end }}