{{ define "main" }}
<main>
	<section class="meta-section">
		<div class="row wrapper">
			<div class="col-md-5 mt-3">
				{{with .Params.image}}
				<img src="{{.name}}"
					 alt="{{.alt}}"
					 class="shadow-sm border">
				{{end}}
			</div>
			<div class="col-md-7">
				<h2 class="h1 m-0">{{.Title}}</h2>
				<p class="h2 mt-0">{{.Params.subtitle}}</p>
				<p class="h5 mb-0 mt-3 text-gray"> {{.Params.date_range}}</p>
				<p class="m-0 text-muted">
					{{.Content}}
				</p>
			</div>
		</div>
	</section>

	<!-- for each section declared in the index.md, grab the associated resource file and add a section partial for it-->
	{{if isset .Params "sections"}}
		{{$page := .}}
		{{range $index, $section := .Params.sections}}
			{{ $resourceName := (printf "%s/00-%s.md" $section $section )}}
			{{ with $page.Resources.GetMatch $resourceName}}
				{{partial "single-work/page-section.html" (dict "page" $page "subsection" . "sectionName" $section ) }}
			{{end}}
		{{end}}
	{{end}}

</main>
{{ end }}

