{{ define "main" }}
<main>
	<section class="meta-section">
		<div class="row wrapper">
			<div class="col-md-5">
				{{with .Params.image}}
				<img src="{{.name}}"
					 alt=".alt}}"
					 class="shadow-sm border">
				{{end}}
			</div>
			<div class="col-md-7">
				<h2 class="h1 m-0">{{.Title}}</h2>
				<p class="h2 mt-0">{{.Params.subtitle}}</p>
				<p class="h5 mb-0 mt-3 text-gray"> {{.Params.date_range}}</p>
				<p class="m-0 text-muted">
					{{.Content}}
				</p>
			</div>
		</div>
	</section>

	{{if .Resources.GetMatch "index-process.md"}}
		{{$processSection := .Resources.GetMatch "index-process.md"}}
		{{partial "single-work/process-gallery.html" (dict "page" . "subsection" $processSection ) }}
	{{end}}

	{{if .Resources.GetMatch "index-final.md"}}
	{{$finalSection := .Resources.GetMatch "index-final.md"}}
		{{partial "single-work/final.html" (dict "page" . "subsection" $finalSection)}}
	{{end}}
</main>
{{ end }}

