{{ $about := .Site.Data.about }}

<div id="about" class="meta-section">
    <section   class="row">
        <div class="col-12 col-md-6">
                    {{ partial "home/splash.html" . }}
        </div>
        <div class="col-12 col-md-6">
            <h2 class="heading mb-3 h1">About {{ $about.name }}</h2>
            <p>
                {{ $about.bio | safeHTML }}
            </p>
            {{with $about.likes }}
            <h3 class="mt-4">Likes</h3>
            <ul>
                {{range $about.likes}}
                    <li class="my-2">{{.}}</li>
                {{end}}
            </ul>
            {{end}}
        </div>
    </section>
</div>
