{{ define "main" }}
<main class="home">
	{{ if .Site.Data.about }}
		{{ partial "home/about.html" . }}
	{{end}}
	{{ if .Site.Data.skills }}
		{{ partial "home/skills.html" . }}
	{{end}}
	{{ if .Site.Data.experience }}
		{{ partial "home/experience.html" . }}
	{{end}}
	{{ if gt (len (where .Data.Pages "Type" "work")) 0 }}
		{{ partial "works-gallery.html" . }}
	{{end}}
	{{ if gt (len (where .Data.Pages "Type" "blog")) 0 }}
		{{ partial "blog-gallery.html" . }}
	{{ end }}

	{{ partial "home/contact.html" . }}
</main>
{{ end }}
