{{$subsection := .Resources.GetMatch "process/index-process.md"}}

<section class="process meta-section bg-accent">
    <div class="row wrapper grid">
        <div class="col-md-6 col-lg-5 grid-item">
            <h1 class="text-pink">{{$subsection.Title}}</h1>
            <p>{{$subsection.Content}}</p>
        </div>

        {{with .Resources.Match "process-image"}}
            {{range sort . "Params.order"}}
            {{if eq .Params.group 1}}
                    <div class="col-md-4 col-lg-2 grid-item">
                        <figure class="figure">
                            <img src="{{.Permalink}}"
                                 alt="{{.Title}}"
                                 class="figure-img img-fluid">
                            {{if .Params.caption }}
                            <figcaption class="figure-caption">{{.Title}}</figcaption>
                            {{end }}
                        </figure>
                    </div>
                {{end}}
            {{end}}
        {{end}}
        <!-- set flag if any item has group2 then do gallery 2 OR redo json structure-->
    </div>
</section>