<section class="process meta-section bg-accent">
    <div class="row wrapper "> 
        <div class="col-md-6 col-lg-5">
            <h1 class="text-pink">{{.subsection.Title}}</h1>
            <p>{{.subsection.Content}}</p>

            <!-- Group 1: images below description -->
                {{with .page.Resources.Match "process-image"}}
                {{ $group1 := where . "Params.group" 1 }}
                {{range sort $group1 "Params.order"}}
            <div class="row ">
                <div class="col-md-3 masonry-item">
                    {{partial "single-work/figure.html" .}}
                </div>
            </div>
            {{end}}
            {{end}}
        </div>

        <!-- Group 2: images to right of  description -->
        <div class="col-md-6 col-lg-7">
            <div class="masonry group-2 ">
                {{with .page.Resources.Match "process-image"}}
                {{ $group2 := where . "Params.group" 2 }}
                {{$colsa := div (len $group2) 2.0 }}
                {{$colsb := math.Ceil $colsa}}
                {{$colsmd := div 12 $colsb}}
                {{range sort $group2 "Params.order"}}
                <div class="masonry-item ">
                    {{partial "single-work/figure.html" .}}
                </div>
                {{end}}
                {{end}}
            </div>
        </div>
    </div>
    
    <!-- Group 3: images in new row -->
    <div class="row wrapper masonry group-3 py-4">
        {{with .page.Resources.Match "process-image"}}
        {{ $group3 := where . "Params.group" 3 }}
        {{$colsa := div (len $group3) 2.0 }}
        {{$colsb := math.Ceil $colsa}}
        {{$colsmd := div 12 $colsb}}
        {{$colslg := div 12 (len $group3)}}
        {{range sort $group3 "Params.order"}}
        <div class="masonry-item">
                {{partial "single-work/figure.html" .}}
            </div>
            {{end}}
            {{end}}
    </div>
</section>