
<section class="process meta-section bg-accent">
    <div class="wrapper container-fluid">
        <div id="process-gallery" >
            {{$default_txt_width := "col-sm-6 col-lg-4"}}
            <div class="grid-item {{.subsection.Params.layout | default $default_txt_width}}">
            
                <h1 class="text-pink">{{.subsection.Title}}</h1>
                <div class="pb-3">{{.subsection.Content}}</div>
            </div>
            
            {{$default_img_width := "col-sm-3 col-md-4 col-lg-2"}}            
            {{with .page.Resources.Match "process-image"}}
            {{range sort . "Params.order"}}

            <div class="{{.Params.sizing | default $default_img_width}} col grid-item">
                {{partial "single-work/figure.html" .}}
            </div>
            {{end}}
            {{end}}
            <div class="grid-sizer col-sm-1"></div>
        </div>
    </div>
</section>


