
<section class="process meta-section bg-accent">
    <div class="row wrapper grid newgrid">
        <div class="grid-item" data-w="{{.subsection.Params.params.w}}" data-h="{{.subsection.Params.params.h}}" >
        
            <h1 class="text-pink">{{.subsection.Title}}</h1>
            <div class="pb-3">{{.subsection.Content}}</div>
        </div>
    
        <!-- Group 2: images to right of  description -->
        {{with .page.Resources.Match "process-image"}}
        {{range sort . "Params.order"}}
        <div class="grid-item"  data-w="{{.Params.w}}" data-h="{{.Params.h}}">
            {{partial "single-work/figure.html" .}}
        </div>
        {{end}}
        {{end}}
    </div>
</section>