<section class="process meta-section bg-accent">
    <div class="row wrapper masonry">
        <div class="col-md-6 col-lg-5">
            <h1 class="text-pink">{{.subsection.Title}}</h1>
            <p>{{.subsection.Content}}</p>
        </div>

        <!-- Group 2: images to right of  description -->
        {{with .page.Resources.Match "process-image"}}
        {{ $group2 := where . "Params.group" 2 }}
        {{range sort $group2 "Params.order"}}
        <div class="col-md-6 col-lg-4 grid-item masonry-item">
            {{partial "single-work/figure.html" .}}
        </div>
        {{end}}
        {{end}}
    </div>

</section>