<section class="process meta-section bg-accent">
    <div class="row wrapper grid">
        <div class="col-md-6 col-lg-5">
            <h1 class="text-pink">{{.subsection.Title}}</h1>
            <p>{{.subsection.Content}}</p>
        </div>

        <!-- Group 2: images to right of  description -->
            {{with .page.Resources.Match "process-image"}}
            {{ $group2 := where . "Params.group" 2 }}
            {{range sort $group2 "Params.order"}}
            <div class="col-md-6 col-lg-4 grid-item img">
                {{partial "single-work/figure.html" .}}
            </div>
            {{end}}
            {{end}}
        </div>

    <!-- Group 3: images in new row -->
    <div class="row wrapper grid">
        {{with .page.Resources.Match "process-image"}}
        {{ $group3 := where . "Params.group" 3 }}
        {{range sort $group3 "Params.order"}}
        <div class="col-md-4 col-lg-2 grid-item img">
            {{partial "single-work/figure.html" .}}
        </div>
        {{end}}
        {{end}}
    </div>
</section>