{{ partial "header.html" . }}
<main class="main-content home container">	
	{{ partial "about.html" . }}
	{{ if .Site.Data.skills }}{{ partial "skills.html" . }}{{ end }}
	{{ if .Site.Data.experience }}{{ partial "experience.html" . }}{{ end }}
	{{ if .Site.Data.services }}{{ partial "services.html" . }}{{ end }}
	{{ if gt (len (where .Data.Pages "Type" "blog")) 0 }}{{ partial "blog.html" . }}{{ end }}
	{{ if gt (len (where .Data.Pages "Type" "work")) 0 }}{{ partial "work.html" . }}{{ end }}
	{{ partial "contact.html" . }}
</main>

{{ partial "footer-scripts.html" . }}
