//overrides
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,500,500i,700,700i,900,900i");

$blue: #2184cf;
$indigo: #4142c0;
$purple: #5b0bb3;
$pink: #ff009c;
$red: #fe3f3f;
$orange: #ff7029;
$yellow: #ece206;
$green: #84d662;
$teal: #49d1a2;
$cyan: #00b5da;
$white: #fff;
$gray: #c6c5d3;
$gray-dark: #343a40;

$primary: $teal;
$secondary: $pink;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: #f8f9fa;
$dark: #343a40;
$accent: #b0f8ff;
.bg-accent{background-color: $accent;}

$overlay-light: rgba(255, 255, 255, 0.87);
$overlay-dark: rgba(0, 0, 0, 0.87);
$rainbow-gradient: linear-gradient(292deg, rgba(91,11,179,1) 0%, rgba(33,132,207,1) 22%, rgba(0,181,218,1) 33%, rgba(210,233,27,1) 60%, rgba(236,226,6,1) 64%, rgba(232,206,10,1) 68%, rgba(255,0,156,1) 96%);
$brand-gradient: linear-gradient(292deg, rgba(19,206,200,1) 0%, rgba(35,113,179,1) 36%, rgba(22,73,196,1) 54%, rgba(255,0,156,1) 96%);

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$font-family-sans-serif: "Montserrat", sans-serif;

$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-weight-base: $font-weight-light;
$headings-font-weight: $font-weight-bold;
// $headings-font-family:        null !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             700 !default;
$display4-weight:             700 !default;

$animation-rate: cubic-bezier(0.23, 1, 0.32, 1);
$default-animation: all 300ms $animation-rate;
$adjusted-vh: calc(100vh - 8rem);

.text-blue{color: $blue!important;}
.text-indigo{color: $indigo!important;}
.text-purple{color: $purple!important;}
.text-pink{color: $pink!important;}
.text-red{color: $red!important;}
.text-orange{color: $orange!important;}
.text-yellow{color: $yellow!important;}
.text-green{color: $green!important;}
.text-teal{color: $teal!important;}
.text-cyan{color: $cyan!important;}
.text-white{color: $white!important;}
.text-gray{color: $gray!important;}
.text-gray-dark{color: $gray-dark!important;}

@mixin rainbow-border {
    content: "";
    background: $rainbow-gradient;
    width: calc( 100% + 4px);
    height: calc(100% + 4px);
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    border-radius: 2px;
    opacity: 0.7;
}

@import "../node_modules/bootstrap/scss/bootstrap";
@import "global.scss";

@import "home.scss";