
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,500,500i,700,700i,900,900i");
// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system


$blue:    #007bff ;
$indigo:  #6610f2 ;
$purple:  #6f42c1 ;
$pink:    #e83e8c ;
$red:     #dc3545 ;
$orange:  #fd7e14 ;
$yellow:  #ffc107 ;
$green:   #28a745 ;
$teal:    #20c997 ;
$cyan:    #17a2b8 ;

$primary:       $pink ;
$secondary:     $purple ;
$success:       $green ;
$info:          $cyan ;
$warning:       $yellow ;
$danger:        $red ;





// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:"Montserrat", sans-serif ;

// stylelint-enable value-keyword-case

$font-size-base:              1rem ; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 ;
$font-size-sm:                $font-size-base * .875 ;

$font-weight-lighter:         lighter ;
$font-weight-light:           200 ;
$font-weight-normal:          300 ;
$font-weight-medium:          500 ;
$font-weight-bold:            700 ;
$font-weight-black:           900 ;
$font-weight-bolder:          bolder ;

$font-weight-base:            $font-weight-normal ;
$line-height-base:            1.5 ;


// Grid containers
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 516px,
  md: 744px,
  lg: 960px,
  xl: 1200px
) ;


// Grid columns
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 ;
$grid-gutter-width:           24px ;
$grid-row-columns:            6 ;



@import "../node_modules/bootstrap/scss/bootstrap";

