body.work main section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    min-height: 16rem;

    &:nth-child(even) {
        background-color: $accent;
    }

    h1.text-pink {
        margin: -0.75rem 0 1.25rem;
    }

    .spinner-border {
        margin: 6rem auto;
        display: block;
        height: 6rem;
        width: 6rem;
        border-width: 0.5rem;
        position: absolute;
        left: calc(50% - 3rem);
    }

    .grid {
        opacity: 0;
    }

    .figure {
        background: rgba(255, 255, 255, 0.8);
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: block;

        .figure-img {
            margin: 0;
        }

        figcaption,
        .fig-caption {
            font-size: 0.75rem;
            line-height: 1rem;
            padding: 0.25rem 0.5rem;
        }
    }
}

hr.content-divider {
    margin: 2rem 1rem 3rem;
    border-top: dotted $white 4px;
}

.modal .figure {
    display: flex;
    flex-flow: column-reverse;

    .figure-caption {
        margin-bottom: 1rem;
    }
}
