body.work main section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    min-height: 16rem;

    &:nth-child(even) {
        background-color: $accent;
    }

    h1.text-pink {
        margin: -0.75rem 0 1.25rem;
    }

    .spinner-border {
        margin: 6rem auto;
        display: block;
        height: 6rem;
        width: 6rem;
        border-width: 0.5rem;
        position: absolute;
        left: calc(50% - 3rem);
    }

    .grid {
        opacity: 0;
    }
}

hr.content-divider {
    margin: 2rem 1rem 3rem;
    border-top: dotted $white 4px;
}
