<section class="skin">
  <h2 class="heading">
    <a class="text-dark" href="{{.Site.BaseURL}}blog">Blog</a>
  </h2>

  <div class="row">
    {{ range first 2 (where (where .Site.Pages "Section" "blog") ".Title" "!=" "Blogs" )}}
    <div class="col-lg-5 col-md-5 col-12 mb-3">
        <div class="card p-4">
          <a class="mb-3" href="{{ .Permalink }}">
            <div class="featuredImage rounded" style="background-size:cover;background-position:center;background-image: url('{{.Site.BaseURL}}images/blog/{{ .Params.featured_image }}'); height: 200px;background-color:#fbfbfb;">   
            </div>
          </a>
          <small class="text-muted">{{ .Date.Format "Jan 2, 2006"}}</small>
          <a href="{{ .Permalink }}"><h3 class="h4 font-weight-bold text-dark">{{ .Title }}</h3></a>
          
          <div>
            {{ range .Params.categories }}
              <span class="badge badge-light">{{ title . }}</span>
            {{ end }}

            <div class="float-right">
              
            </div>
          </div>
        </div>
    </div>
    {{ end }}
    <div class="col-lg-2 col-12 align-items-end d-flex align-items-center">
      <a href="{{.Site.BaseURL}}/blog" class="btn btn-dark-faded rounded-circle p-4 text-center">
        <img width="40px" src="{{.Site.BaseURL}}/images/next.svg" alt="">
      </a>
    </div>
  </div>

  <!-- <div class="text-center mt-5">
    <button class="btn btn-lg btn-dark-faded ">Browse All</button>
  </div> -->

</section>
