{{ $experience := .Site.Data.experience }}
<!-- this section copied from UI-Lite theme-->
<section id="experience" class="meta-section">
    <h2>{{ $experience.title }}</h2>
    <div id="timeline">
        {{ range $index, $element := $experience.experience }}
        <div class="timeline-item">
            <div class="timeline-icon"></div>
    
            <div
                 class="timeline-content {{ if eq (mod $index 2) 0 }} right {{ end }}">
                <span class="date">{{ $element.timeperiod }}</span>
                <h6 class="h3 my-2">{{ $element.company }}</h6>
                <p class="">{{ $element.description }}</p>
            </div>
        </div>
        {{ end }}
    </div>
</section>