{{ $config := .Site.Data.config }}
{{ $navigation := .Site.Data.navigation }}
{{ $baseURL := .Site.BaseURL }}

<header id="main-header"
		class=" fixed-top shadow-sm">
	<div class="navbar meta-section wrapper">
			<div class="branding d-flex">
				<button class="hamburger-menu mr-2 mt-1">
					<div class="hamburger-inner"></div>
				</button>
				<!--<a id="logo-link"
							   data-menuanchor="intro"
							   href="/#intro"
							   class="nav-link px-0">
								<img src="{{$config.logo}}"
									 alt="logo"
									 class="navbar-brand rounded-circle p-0 m-0"
									 width="36">
							</a> -->
				<a id="logo-link"
				   class="nav-link p-0 highlight-text"
				   data-menuanchor="intro"
				   href="/#intro">
					<h1 class="nav-logo h4"><span class="title">{{ .Site.Title }}</span>
						{{with $config.subtitle}} <br class="d-sm-none">//<span
							  class="subtitle"> {{ $config.subtitle }}</span>{{ end }}
					</h1>
				</a>
			</div>
			
			{{ with $navigation}}
			<nav id="main-menu"
				 class="nav-links">
				{{ range . }}
				{{if .fullPage}}
				<a href="{{ $baseURL }}/{{ .href }}"
				   class="nav-item nav-link">{{ .title }}</a>
				{{else }}
				<a data-menuanchor="{{ .href }}"
				   href="{{ $baseURL}}#{{ .href }}"
				   class="nav-item nav-link">{{ .title }}</a>
				{{end}}
				{{ end }}
			</nav>
			{{ end }}
	</div>

</header>