{{ $data := .Site.Data.skills }}

<section id="skills"
         class="meta-section">
    <h2 class="heading">{{ $data.title }}</h2>

    {{ range $key, $value := $data.chart }}

    <div class="skill">
        <span class="h6">{{ $key }}</span>
        <div class="progress">
            <div class="progress-bar"
                 role="progressbar"
                 style="width:{{ $value }}%"
                 aria-valuenow="10"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
        </div>
    </div>
    {{end}}

   <div class="row">
        {{range $skillType, $skills := $data.list | sort $index}}
        <div>
            <h3>{{$skillType}}</h3>
            <ul>
                {{range $index, $skill := $skills}}
                <li>{{$skill}}</li>
                {{end}}
            </ul>
        </div>
        {{ end }}
   </div>
</section>