<div id="work" class="meta-section bg-accent">
    <section  class="">
        <h2 class="heading">Work </h2>
        
        <div class="row">
            {{$works := where (where .Site.Pages "Type" "work") ".Title" "not in" (slice "Work" "Works")}}
            {{ range first 9 (sort $works ".Params.weight" "desc") }}
            <div class="col-lg-4 col-md-4 col-12 mb-3 d-flex">
                <div class="bg-white p-4 shadow-sm d-flex flex-column flex-fill">
                    <a class="mb-3"
                       href="{{ .Permalink }}">
                        <div class="featuredImage border"
                             style="background-image: url('{{ .Permalink }}{{ .Params.image.name }}');">
                        </div>
                    </a>
                    <!-- <small class="text-muted">{{ .Date.Format "Jan 2, 2006"}}</small> -->
                    <a href="{{ .Permalink }}" class="flex-fill">
                        <h3 class="h4 font-weight-bold text-dark">{{ .Title }}</h3>
                    </a>
        
                    <div>
                        {{ range .Params.tags }}
                        <span class="badge badge-light font-weight-normal p-1">{{ title . }}</span>
                        {{ end }}

                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        
        <div class="text-center mt-5">
            <a href="{{ .Site.BaseURL }}work"
               class="btn btn-lg btn-secondary d-inline-block ">Browse All</a>
        </div>
    </section>
</div>