<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode | default "en-us" }}'>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Site.Title}} -  {{.Page.Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	  rel="stylesheet"
	  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	  crossorigin="anonymous">
	
	<link rel="icon"
		  href="{{ .Site.BaseURL }}favicon.png"
		  type="image/x-icon">
	<link rel="stylesheet"
	 	 href='{{ "css/custom.css" | relURL }}'>
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{end }}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src='{{ "js/main.js" | relURL }}'></script>
	{{if eq .Page.Type "work" }}
	<script
			src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	{{end}}
</head>
{{ $class:= "generic" }}
{{if .IsHome}}
{{$class = "home"}}
{{else }}
{{$class = .Page.Type }}
{{end}}
<body class="{{ $class }}">
	{{ partial "header" . }}
	<div class="body-offset"></div>
	{{ block "main" . }}
		<main>{{.Content}}</main>
	{{ end }}
	{{ partial "footer" . }}
</body>
</html>

