
<article class="card shadow-sm p-4 my-3">
	<div class="row p-4">
		<div class="col-sm-12 col-md-4 col-lg-3">
			{{if .Params.image}}
			<img src="{{.Permalink}}/{{.Params.image.name}}"
				 alt="{{.Params.image.alt}}">
			{{end}}
		</div>
		<div class="col">
			<h1 class="card-title h2 m-0"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
			
			{{if .Params.date_range}}
			<time class="h6 mb-3 py-1 d-block">{{ .Params.date_range }}</time>
			{{ else }}
			<time class="h6 mb-3 py-1 d-block">{{ .Date.Format "Jan 2006" }}</time>
			{{ end }}
			<div class="tags my-2">
			
				{{$masterTags := .Site.Data.tags}}
			
				{{ range $tag := .Params.tags }}
				{{range $tagMeta := where $masterTags "title" . }}
				<a class="btn btn-{{$tagMeta.color}} btn-sm d-inline-block mr-1"
				   href='{{ "/tags/" | relLangURL }}{{ $tagMeta.title | urlize }}'>{{ $tagMeta.title }}</a>
				{{ end }}
				{{end}}
			</div>
			<div class="card-text">
				{{ .Summary }}
				{{ if .Truncated }}
				<a href="{{ .Permalink }}">Read more...</a>
				{{ end }}
			</div>
		</div>
	</div>

</article>