{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="row p-4">
  <div class="col-12 col-lg-6">
    <img src="{{ .Permalink }}{{ .Params.featured_image }}" class="mx-auto d-block" style="max-width:100%;width:800px" alt="">
  </div>
  <div class="col-12 col-lg-6 px-4 mt-4 mt-sm-0">
      <h1 class="">{{ .Title }}</h1>
      <p class="summary">{{.Description | safeHTML}}</p>
  </div>
<div class="row">
  <article class="col-12">
    {{ .Content}}
  </article>
</div>
    <div class="row">
      <article class="col-12">
      </article>
    </div>
</div>

<div class="text-center my-5">
  <a class="text-dark" href="{{ .Site.BaseURL }}work">↽ Back</a>
</div>

{{ partial "footer.html" . }}
{{ partial "footer-scripts.html" . }}